* {
    box-sizing: border-box;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    outline: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.2;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

h3 {
    background: #fff;
    font-size: 40px;
}

h3,
.mark {
    color: #871495;
    font-weight: 300;
}

.mark {
    text-transform: uppercase;
    font-size: 22px;
}

.text {
    font-size: 22px;
    font-weight: 300;
    color: #2c2c2c;
}

.underline {
    border-bottom: 1px solid #871495;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

#scrollUp {
    position: fixed;
    right: 0;
    bottom: 4.7%;
    z-index: 99999;
    cursor: pointer;
}

header .commonHeader {
    position: relative;
}

@keyframes moveImg {
    0% {
        background-position: -100% 0%;
    }

    100% {
        background-position: 300% 0%;
    }
}

.linkToPub {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    color: #fff;
    background: #871495;
    min-width: 330px;
    border-radius: 2px;
    padding: 15px 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999;
}

.linkToPub:hover {
    background: #871495 url(../img/hover_become_a_publisher.png);
    -webkit-animation: moveImg 6s linear infinite;
    -moz-animation: moveImg 6s linear infinite;
    animation: moveImg 6s linear infinite;
    transform: scale(1.05);
}

#validMessage,
#invalidMessage {
    position: absolute;
    top: -31px;
    font-size: 17px;
    width: 100%;
    display: none;
    text-align: center;
    font-weight: 400;
}

#validMessage {
    color: #54c926;
}

#invalidMessage {
    color: #d73434;
}


/*                       success    */
#success {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    background: #fff;
    display: none;
}

#success .box {
    max-width: 495px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    text-align: center;
    top: 24%;
    background: #fff;
    border: 1px solid #871495;
    padding: 100px 25px;
}

#success .box p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
}

#success .closePopUp {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}


/*                            menu        */
.menu #buttonMenu {
    position: absolute;
    right: 60px;
    top: 45px;
    font-size: 18px;
    color: #871495;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 9999;
}

#modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    overflow-x: hidden;
    background: #fff;
    display: none;
}

#modal .wrap {
    background: url(../img/lines.jpg);
}

#modal .headerModal,
header.commonHeader {
    width: 100%;
    height: 115px;
    background: #fff;
    padding-left: 40px;
    overflow: hidden;
}

#modal .logo,
header.commonHeader .headerLogo {
    line-height: 143px;
    display: inline-block;
}

#modal a {
    text-decoration: none;
    display: inline-block;
}

#modal .listMenu {
    max-width: 820px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
    padding-bottom: 40px;
}

#modal .listMenu li {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
    opacity: .65;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

#modal .listMenu li:hover {
    border-color: #871495;
    opacity: 1;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

#modal .listMenu a {
    width: 100%;
    height: 100%;
}

#modal .listMenu a>span {
    display: block;
    font-weight: 300;
}

#modal .listMenu li .title {
    font-size: 40px;
    color: #871495;
}

#modal .listMenu li .text,
#modal .followUs a {
    font-size: 22px;
    color: #000;
    font-weight: 300;
}

#modal .followUs {
    text-align: center;
    padding-bottom: 30px;
    background: url(../img/lines.jpg);
}

#modal .followUs a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#closeMenu {
    position: absolute;
    right: 107px;
    top: 40px;
}

.iconMenu {
    margin-left: 10px;
}



/*                            footer      */


footer {
    background: #252525;
    border-bottom: 2px solid #323232;
}

footer .line {
    border-top: 1px solid #fff;
}

footer .container.main {
    padding-top: 65px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

footer .container.main>div {
    width: 50%;
}

footer .container.extra {
    padding-top: 30px;
    padding-bottom: 100px;
}

footer .block1 .logo {
    max-width: 285px;
    display: block;
    cursor: pointer;
}

footer .block1 .logo img {
    width: 100%;
}

footer .block1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

footer .block1 .list {
    display: block;
}

footer .block1 .list li {
    margin-bottom: 7px;
}

footer .block1 .list li span {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
}

footer .block2 form {
    margin-left: auto;
    max-width: 385px;
    position: relative;
    padding-top: 20px;
    font-weight: bold;
}

footer .block2 form input,
footer .block2 form textarea {
    padding: 15px;
    width: 100%;
    border: none;
    margin-bottom: 15px;
    color: #2c2c2c;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #2c2c2c;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #2c2c2c;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #2c2c2c;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #2c2c2c;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
}

footer .block2 input[type="text"] {
    width: 50%;
    float: left;
}

footer .block2 #full-Name {
    width: calc(50% - 10px);
    margin-right: 10px;
}

footer .block2 input[type="submit"] {
    cursor: pointer;
    font-size: 22px;
    background: #871495;
    border: 1px solid #871495;
    text-transform: uppercase;
    color: #fff;
}

footer .extra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

footer .extra small {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 7px;
}

footer .extra .wrap>* {
    display: block;
}

footer .extra .wrap a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

@media (min-width: 955px) and (max-width: 1550px) {
    #modal .listMenu {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #modal .listMenu li .title {
        font-size: 30px;
    }

    #modal .listMenu li .text,
    #modal .followUs a {
        font-size: 17px;
    }
}

@media all and (max-width: 954px) {
    #success .box p {
        font-size: 17px;
    }
}

@media all and (max-width: 840px) {
    footer .container.extra {
        padding-bottom: 50px;
    }

    footer .container.main {
        flex-direction: column;
    }

    footer .container.main>div {
        width: 100%;
    }

    footer .block1>*,
    footer .block2 form {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    footer .block1 .logo,
    footer .block1 .list {
        margin-bottom: 30px;
    }

    footer .extra small,
    footer .extra {
        font-size: 10px;
    }

    .menu #buttonMenu {
        right: 25px;
        top: 30px;
    }

    #closeMenu {
        right: 25px;
        top: 25px;
    }

    .menu .iconMenu {
        display: none;
    }

    #modal .logo,
    header.commonHeader .headerLogo {
        width: 150px;
        line-height: 101px;
    }

    #modal .logo img,
    header.commonHeader .headerLogo img {
        width: 100%;
    }

    #modal .headerModal,
    header.commonHeader {
        height: 80px;
        padding-left: 20px;
    }

    #modal .listMenu li .title {
        font-size: 23px;
    }

    #modal .listMenu li .text,
    #modal .followUs a {
        font-size: 13px;
    }

    #modal .listMenu {
        padding-top: 30px;
        padding-bottom: 20px;
    }
}

@media all and (max-width: 514px) {
    #success .box {
        margin-right: 15px;
        margin-left: 15px;
        top: 15%;
    }

    header .linkToPub {
        min-width: 85%;
    }
}